<form [formGroup]="loginForm" (ngSubmit)="connexion()">

    <label>Login</label>
    <input type="text" id="login" formControlName="login">

    <label>Mdp</label>
    <input type="password" id="mdp" formControlName="mdp"><br><br>

    <div formGroupName="adresse">
        <label>Rue</label>
        <input type="text" id="rue" formControlName="rue">
        <label>Cp</label>
        <input type="text" id="cp" formControlName="cp">
        <label>Ville</label>
        <input type="text" id="ville" formControlName="ville">

    </div>
<!--On desactive le bouton tant que le formulaire n'est pas valide-->
    <button type="submit" [disabled]="!loginForm.valid">Valider</button>
    <p>Status du formulaire : {{loginForm.status}}</p>
</form>